<%- include('header') -%>
    <%- include('navbar') -%>
        <div class="container" style="height: 100vh; display: flex; flex-direction: column">
            <h1 align="center">Számítógép nyilvántartás</h1>
            <div class="row text-center" style="text-align: center">
              <a href="/felhasz"><img src="https://www.pcgamesn.com/wp-content/uploads/2018/07/Best-Gaming-PC.png" alt="This is an image from a computer" width="1280px" height="720px" /></a>
            </div>
        </div>
<%- include('footer') -%>